<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pk.edu.ucp.fall16_mad_c">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".My2ndActivity">
        </activity>
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CalcInStepActivity">
        </activity>
        <activity android:name=".CalcInSteps2Activity">
        </activity>
        <activity android:name=".TweenActivity">
        </activity>
        <activity android:name=".FrameAnimationActivity">
        </activity>
        <activity android:name=".FileDataActivity">
        </activity>
        <activity android:name=".FileRecordsActivity">
        </activity>
        <activity android:name=".SimpleListActivity">
        </activity>
        <activity android:name=".ComplexListActivity">
        </activity>
        <activity android:name=".AdvComplexListActivity">
        </activity>
        <activity android:name=".NotesActivity">
        </activity>
        <activity android:name=".NotesPreferencesActivity">
        </activity>
        <activity android:name=".ThreadActivity">
        </activity>
        <activity android:name=".ASyncTaskActivity">
        </activity>
        <activity android:name=".DatabaseActivity">
        </activity>
        <activity android:name=".CameraActivity">
        </activity>
        <activity android:name=".AudioActivity">
        </activity>
        <activity android:name=".VideoActivity">
        </activity>
        <activity android:name=".SurfaceClassActivity">
        </activity>
        <activity android:name=".SurfaceAnimationActivity">
        </activity>
        <activity android:name=".DBAssignment">
        </activity>
        <activity android:name=".SensorActivity">
        </activity>
        <activity android:name=".FilteredSensorActivity">
        </activity>
        <activity android:name=".LocationActivity">
        </activity>
        <activity android:name=".InternetActivity">
        </activity>
        <activity android:name=".ButtonsActivity">
        </activity>
        <activity android:name=".ComplexNetworkActivity">
        </activity>
    </application>

</manifest>